Source: cli_aid
Section: python
Priority: extra
Maintainer: Jesse Boyer <hello@jream.com>
Build-Depends: debhelper (>= 9), python, dh-virtualenv (>= 0.7), python-setuptools, python-dev
Standards-Version: 3.9.5

Package: cli_aid
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7-minimal, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: CLI For creating your own library of topics and subtopics for remembering commands and code snippets.
